<p style="color: green"><%= notice %></p>

<span><%= @user.email %>'s page</span>
<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

<hr>

<h2>User listings</h2>

<%= link_to "Post listing", new_user_listing_path(current_user) %>

<ul class="user_show_user_listings">
  <% @user.listings.each do |listing| %>
    <li>
      <%= listing.title %>
      <%= link_to "Edit listing", edit_user_listing_path(@user, listing) %>
      <%= button_to "Delete", user_listing_path(@user, listing), method: :delete %>
    </li>
  <% end %>
</ul>
